@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Top Trumps</h1>

    <div class="mx-auto mt-lg-5" style="width: 300px;">
        <img src="img\DALL·E 2023-01-25 17.36.46 - people playing card game in space pixel art with nothing on the cads.png" class="rounded mx-auto d-block img-thumbnail" alt="">
    </div>
</div>

<div class="container-fluid mt-lg-5">
    <h3 class="text-center mt-lg-5">Choose what deck to play with:</h3>
    <div class="text-center mt-3">
        <div class="row">
            <div class="col">
                <button type="button" onclick="location.href='@Url.Action("index","CatDecks")'" class="btn btn-outline-primary btn-lg btn-block">Cats Deck</button>
            </div>
            <div class="col">
                <button type="button" onclick="location.href='@Url.Action("index","DinoDecks")'" class="btn btn-outline-primary btn-lg btn-block">Dinosaur Deck</button>
            </div>
            <div class="col">
                <button type="button" onclick="location.href='@Url.Action("index","DogDecks")'" class="btn btn-outline-primary btn-lg btn-block">Dogs Deck</button>
            </div>
            <div class="col">
                <button type="button" onclick="location.href='@Url.Action("index","StarWarsDecks")'" class="btn btn-outline-primary btn-lg btn-block">Star Wars Deck</button>
            </div>
        </div>
    </div>
</div>